@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 95%;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

@media (min-width: 1280px) {
  body {
    width: 1240px;
  }
}

header {
  width: 95%;
  margin: 0 auto;
}

header img {
  width: 100%;
  margin: 20px auto;
}

header .searchBar input {
  width: 100%;
  height: 69px;
  border: none;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 50px;
  background: #e7e7e7 url("../assets/img/search.png") no-repeat center right 10px;
  text-overflow: ellipsis;
}

header #selections {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header #selections #ingredient__selections,
header #selections #appliance__selections,
header #selections #ustensil__selections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

header #selections .tag-ingredient,
header #selections .tag-appliance,
header #selections .tag-ustensil {
  margin: 10px;
}

header #filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header #filters .tagsListsContainer {
  width: 100%;
}

header #filters .tagsListsContainer button {
  width: 100%;
}

header #filters .tagsListsContainer .search__tagsLists__filtersLists {
  width: 100%;
}

#recipesContainer .recipesList__card {
  width: 100%;
  height: 364px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #e7e7e7;
  margin: 20px auto;
}

#recipesContainer .recipesList__card .recipesList__card__image {
  height: 178px;
  background-color: #c7bebe;
}

#recipesContainer .recipesList__card .recipesList__card__title {
  position: relative;
  padding: 10px 20px;
}

#recipesContainer .recipesList__card .recipesList__card__title .recipesList__card__title__name {
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 71%;
}

#recipesContainer .recipesList__card .recipesList__card__title .recipesList__card__title__time {
  padding: 10px 20px 10px 0;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
  font-weight: bold;
}

#recipesContainer .recipesList__card .recipesList__card__title .recipesList__card__title__time::before {
  content: "";
  display: block;
  background: url("../assets/img/watch.png") no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -30px;
}

#recipesContainer .recipesList__card .recipesList__card__description {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
}

#recipesContainer .recipesList__card .recipesList__card__description .recipesList__card__description__ingredients {
  width: 50%;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  white-space: normal;
  overflow: hidden;
  padding-right: 5%;
  max-height: 125px;
}

#recipesContainer .recipesList__card .recipesList__card__description .recipesList__card__description__process {
  width: 50%;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  white-space: normal;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  padding-left: 5%;
  max-height: 115px;
}

@media (min-width: 1280px) {
  header {
    width: 100%;
    text-align: center;
  }
  header img {
    width: 268px;
    margin: 40px 0 15px;
  }
  header .searchBar > input {
    width: 100%;
    height: 69px;
    border: none;
    border-radius: 5px;
    padding-left: 25px;
    background: #e7e7e7 url("../assets/img/search.png") no-repeat center right 10px;
  }
  header #selections {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header #selections #ingredient__selections,
  header #selections #appliance__selections,
  header #selections #ustensil__selections {
    width: unset;
  }
  header #selections .tag-ingredient,
  header #selections .tag-appliance,
  header #selections .tag-ustensil {
    width: unset;
    margin: 20px 10px 0 0;
  }
  header #filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header #filters .tagsListsContainer {
    width: unset;
  }
  header #filters .tagsListsContainer button {
    width: 170px;
  }
  header #filters .tagsListsContainer .search__tagsLists__filtersLists {
    width: 100%;
  }
  #recipesContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    gap: 50px 50px;
        grid-template-areas: ". . ." ". . ." ". . .";
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 90px auto;
    position: absolute;
    z-index: 1;
    top: 300px;
  }
  #recipesContainer .recipesList__card {
    width: 380px;
    height: 364px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #e7e7e7;
  }
  #recipesContainer .recipesList__card .recipesList__card__image {
    height: 178px;
    background-color: #c7bebe;
  }
  #recipesContainer .recipesList__card .recipesList__card__title {
    position: relative;
    padding: 10px 20px;
  }
  #recipesContainer .recipesList__card .recipesList__card__title .recipesList__card__title__name {
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 71%;
  }
  #recipesContainer .recipesList__card .recipesList__card__title .recipesList__card__title__time {
    padding: 10px 20px 10px 0;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    font-weight: bold;
  }
  #recipesContainer .recipesList__card .recipesList__card__title .recipesList__card__title__time::before {
    content: "";
    display: block;
    background: url("../assets/img/watch.png") no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -30px;
  }
  #recipesContainer .recipesList__card .recipesList__card__description {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 20px;
  }
  #recipesContainer .recipesList__card .recipesList__card__description .recipesList__card__description__ingredients {
    width: 50%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    white-space: normal;
    overflow: hidden;
    padding-right: 5%;
    max-height: 125px;
  }
  #recipesContainer .recipesList__card .recipesList__card__description .recipesList__card__description__process {
    width: 50%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    white-space: normal;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    padding-left: 5%;
    max-height: 115px;
  }
}

.search__tagsLists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2%;
  position: relative;
  z-index: 2;
}

.search__tagsLists #ingredient--btn {
  height: 69px;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  width: 170px;
  border: none;
  font-weight: bold;
  background-color: #3282f7;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
  margin-top: 20px;
}

.search__tagsLists .search__tagsLists__frame__input {
  display: none;
  height: 69px;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  width: 170px;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  padding-left: 20px;
  font-size: 18px;
}

.search__tagsLists .search__tagsLists__frame__input::-webkit-input-placeholder {
  font-size: 18px;
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  padding-left: 10px;
}

.search__tagsLists .search__tagsLists__frame__input:-ms-input-placeholder {
  font-size: 18px;
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  padding-left: 10px;
}

.search__tagsLists .search__tagsLists__frame__input::-ms-input-placeholder {
  font-size: 18px;
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  padding-left: 10px;
}

.search__tagsLists .search__tagsLists__frame__input::placeholder {
  font-size: 18px;
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  padding-left: 10px;
}

.search__tagsLists .search__tagsLists__frame__input:focus {
  outline: none;
}

.search__tagsLists .search__tagsLists__frame__input:focus::-webkit-input-placeholder {
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.search__tagsLists .search__tagsLists__frame__input:focus:-ms-input-placeholder {
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.search__tagsLists .search__tagsLists__frame__input:focus::-ms-input-placeholder {
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.search__tagsLists .search__tagsLists__frame__input:focus::placeholder {
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.search__tagsLists #ingredientsContainer {
  position: relative;
}

.search__tagsLists #ingredientsContainer .ingredient--btn--more {
  background: url("../assets/img/more.png") no-repeat right;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 37px;
  right: 0;
  cursor: pointer;
}

.search__tagsLists #ingredientsContainer .ingredient--btn--less {
  display: none;
  background: url("../assets/img/less.png") no-repeat right;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 37px;
  right: 0;
  cursor: pointer;
}

.search__tagsLists__block {
  border-radius: 0 0 5px 5px;
  width: 40px;
}

.search__tagsLists__filtersLists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  overflow-wrap: break-word;
  width: 667px;
  max-height: 397px;
  overflow: auto;
  color: white;
  margin: auto;
  row-gap: 3px;
  border-radius: 0 0 5px 5px;
  margin-top: -4px;
}

.search__tagsLists #searchingredient {
  background-color: #3282f7;
}

.search__tagsLists #ingredientsFilters {
  background-color: #3282f7;
  border-radius: 0 0 5px 5px;
  display: none;
  padding-left: 20px;
}

.search__tagsLists #ingredientsFilters .ingredient {
  font-size: 18px;
  text-align: left;
  cursor: pointer;
}

.search__tagsLists #ingredientsFilters .ingredient:hover {
  background-color: white;
  color: #3282f7;
}

.search__tagsLists #appliance--btn {
  height: 69px;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  width: 170px;
  border: none;
  font-weight: bold;
  background-color: #68d9a4;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
  margin-top: 20px;
}

.search__tagsLists .search__tagsLists__frame__input {
  display: none;
  height: 69px;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  width: 170px;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  padding-left: 20px;
  font-size: 18px;
}

.search__tagsLists .search__tagsLists__frame__input::-webkit-input-placeholder {
  font-size: 18px;
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  padding-left: 10px;
}

.search__tagsLists .search__tagsLists__frame__input:-ms-input-placeholder {
  font-size: 18px;
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  padding-left: 10px;
}

.search__tagsLists .search__tagsLists__frame__input::-ms-input-placeholder {
  font-size: 18px;
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  padding-left: 10px;
}

.search__tagsLists .search__tagsLists__frame__input::placeholder {
  font-size: 18px;
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  padding-left: 10px;
}

.search__tagsLists .search__tagsLists__frame__input:focus {
  outline: none;
}

.search__tagsLists .search__tagsLists__frame__input:focus::-webkit-input-placeholder {
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.search__tagsLists .search__tagsLists__frame__input:focus:-ms-input-placeholder {
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.search__tagsLists .search__tagsLists__frame__input:focus::-ms-input-placeholder {
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.search__tagsLists .search__tagsLists__frame__input:focus::placeholder {
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.search__tagsLists #appliancesContainer {
  position: relative;
}

.search__tagsLists #appliancesContainer .appliance--btn--more {
  background: url("../assets/img/more.png") no-repeat right;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 37px;
  right: 0;
  cursor: pointer;
}

.search__tagsLists #appliancesContainer .appliance--btn--less {
  display: none;
  background: url("../assets/img/less.png") no-repeat right;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 37px;
  right: 0;
  cursor: pointer;
}

.search__tagsLists__block {
  border-radius: 0 0 5px 5px;
  width: 40px;
}

.search__tagsLists__filtersLists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  overflow-wrap: break-word;
  width: 667px;
  max-height: 397px;
  overflow: auto;
  color: white;
  margin: auto;
  row-gap: 3px;
  border-radius: 0 0 5px 5px;
  margin-top: -4px;
}

.search__tagsLists #searchappliance {
  background-color: #68d9a4;
}

.search__tagsLists #appliancesFilters {
  background-color: #68d9a4;
  border-radius: 0 0 5px 5px;
  display: none;
  padding-left: 20px;
}

.search__tagsLists #appliancesFilters .appliance {
  font-size: 18px;
  text-align: left;
  cursor: pointer;
}

.search__tagsLists #appliancesFilters .appliance:hover {
  background-color: white;
  color: #68d9a4;
}

.search__tagsLists #ustensil--btn {
  height: 69px;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  width: 170px;
  border: none;
  font-weight: bold;
  background-color: #ed6454;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
  margin-top: 20px;
}

.search__tagsLists .search__tagsLists__frame__input {
  display: none;
  height: 69px;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  width: 170px;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  padding-left: 20px;
  font-size: 18px;
}

.search__tagsLists .search__tagsLists__frame__input::-webkit-input-placeholder {
  font-size: 18px;
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  padding-left: 10px;
}

.search__tagsLists .search__tagsLists__frame__input:-ms-input-placeholder {
  font-size: 18px;
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  padding-left: 10px;
}

.search__tagsLists .search__tagsLists__frame__input::-ms-input-placeholder {
  font-size: 18px;
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  padding-left: 10px;
}

.search__tagsLists .search__tagsLists__frame__input::placeholder {
  font-size: 18px;
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  padding-left: 10px;
}

.search__tagsLists .search__tagsLists__frame__input:focus {
  outline: none;
}

.search__tagsLists .search__tagsLists__frame__input:focus::-webkit-input-placeholder {
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.search__tagsLists .search__tagsLists__frame__input:focus:-ms-input-placeholder {
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.search__tagsLists .search__tagsLists__frame__input:focus::-ms-input-placeholder {
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.search__tagsLists .search__tagsLists__frame__input:focus::placeholder {
  position: relative;
  left: -11px;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.search__tagsLists #ustensilsContainer {
  position: relative;
}

.search__tagsLists #ustensilsContainer .ustensil--btn--more {
  background: url("../assets/img/more.png") no-repeat right;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 37px;
  right: 0;
  cursor: pointer;
}

.search__tagsLists #ustensilsContainer .ustensil--btn--less {
  display: none;
  background: url("../assets/img/less.png") no-repeat right;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 37px;
  right: 0;
  cursor: pointer;
}

.search__tagsLists__block {
  border-radius: 0 0 5px 5px;
  width: 40px;
}

.search__tagsLists__filtersLists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  overflow-wrap: break-word;
  width: 667px;
  max-height: 397px;
  overflow: auto;
  color: white;
  margin: auto;
  row-gap: 3px;
  border-radius: 0 0 5px 5px;
  margin-top: -4px;
}

.search__tagsLists #searchustensil {
  background-color: #ed6454;
}

.search__tagsLists #ustensilsFilters {
  background-color: #ed6454;
  border-radius: 0 0 5px 5px;
  display: none;
  padding-left: 20px;
}

.search__tagsLists #ustensilsFilters .ustensil {
  font-size: 18px;
  text-align: left;
  cursor: pointer;
}

.search__tagsLists #ustensilsFilters .ustensil:hover {
  background-color: white;
  color: #ed6454;
}

#selections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin-top: 20px;
}

#selections #ingredient__selections,
#selections #appliance__selections,
#selections #ustensil__selections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#selections .tag-ingredient {
  background-color: #3282f7;
  padding: 10px 40px 10px 15px;
  border-radius: 5px;
  color: white;
  position: relative;
  margin-right: 10px;
}

#selections .tag-ingredient::after {
  content: "";
  background-image: url("../assets/img/highlight.png");
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 9px;
  right: 0;
  margin: 0 10px;
  cursor: pointer;
}

#selections .tag-appliance {
  background-color: #68d9a4;
  padding: 10px 40px 10px 15px;
  border-radius: 5px;
  color: white;
  position: relative;
  margin-right: 10px;
}

#selections .tag-appliance::after {
  content: "";
  background-image: url("../assets/img/highlight.png");
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 9px;
  right: 0;
  margin: 0 10px;
  cursor: pointer;
}

#selections .tag-ustensil {
  background-color: #ed6454;
  padding: 10px 40px 10px 15px;
  border-radius: 5px;
  color: white;
  position: relative;
  margin-right: 10px;
}

#selections .tag-ustensil::after {
  content: "";
  background-image: url("../assets/img/highlight.png");
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 9px;
  right: 0;
  margin: 0 10px;
  cursor: pointer;
}

@media (min-width: 1280px) {
  .search__tagsLists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2%;
    position: relative;
    z-index: 2;
  }
  .search__tagsLists #ingredient--btn {
    height: 69px;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    width: 170px;
    border: none;
    font-weight: bold;
    background-color: #3282f7;
    font-size: 18px;
    text-align: left;
    cursor: pointer;
    margin-top: 20px;
  }
  .search__tagsLists .search__tagsLists__frame__input {
    display: none;
    height: 69px;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    width: 170px;
    border: none;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 20px;
    font-size: 18px;
  }
  .search__tagsLists .search__tagsLists__frame__input::-webkit-input-placeholder {
    font-size: 18px;
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    padding-left: 10px;
  }
  .search__tagsLists .search__tagsLists__frame__input:-ms-input-placeholder {
    font-size: 18px;
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    padding-left: 10px;
  }
  .search__tagsLists .search__tagsLists__frame__input::-ms-input-placeholder {
    font-size: 18px;
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    padding-left: 10px;
  }
  .search__tagsLists .search__tagsLists__frame__input::placeholder {
    font-size: 18px;
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    padding-left: 10px;
  }
  .search__tagsLists .search__tagsLists__frame__input:focus {
    outline: none;
  }
  .search__tagsLists .search__tagsLists__frame__input:focus::-webkit-input-placeholder {
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
  }
  .search__tagsLists .search__tagsLists__frame__input:focus:-ms-input-placeholder {
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
  }
  .search__tagsLists .search__tagsLists__frame__input:focus::-ms-input-placeholder {
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
  }
  .search__tagsLists .search__tagsLists__frame__input:focus::placeholder {
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
  }
  .search__tagsLists #ingredientsContainer {
    position: relative;
  }
  .search__tagsLists #ingredientsContainer .ingredient--btn--more {
    background: url("../assets/img/more.png") no-repeat right;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 37px;
    right: 0;
    cursor: pointer;
  }
  .search__tagsLists #ingredientsContainer .ingredient--btn--less {
    display: none;
    background: url("../assets/img/less.png") no-repeat right;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 37px;
    right: 0;
    cursor: pointer;
  }
  .search__tagsLists__block {
    border-radius: 0 0 5px 5px;
    width: 40px;
  }
  .search__tagsLists__filtersLists {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    overflow-wrap: break-word;
    width: 667px;
    max-height: 397px;
    overflow: auto;
    color: white;
    margin: auto;
    row-gap: 3px;
    border-radius: 0 0 5px 5px;
    margin-top: -4px;
  }
  .search__tagsLists #searchingredient {
    background-color: #3282f7;
  }
  .search__tagsLists #ingredientsFilters {
    background-color: #3282f7;
    border-radius: 0 0 5px 5px;
    display: none;
    padding-left: 20px;
  }
  .search__tagsLists #ingredientsFilters .ingredient {
    font-size: 18px;
    text-align: left;
    cursor: pointer;
  }
  .search__tagsLists #ingredientsFilters .ingredient:hover {
    background-color: white;
    color: #3282f7;
  }
  .search__tagsLists #appliance--btn {
    height: 69px;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    width: 170px;
    border: none;
    font-weight: bold;
    background-color: #68d9a4;
    font-size: 18px;
    text-align: left;
    cursor: pointer;
    margin-top: 20px;
  }
  .search__tagsLists .search__tagsLists__frame__input {
    display: none;
    height: 69px;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    width: 170px;
    border: none;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 20px;
    font-size: 18px;
  }
  .search__tagsLists .search__tagsLists__frame__input::-webkit-input-placeholder {
    font-size: 18px;
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    padding-left: 10px;
  }
  .search__tagsLists .search__tagsLists__frame__input:-ms-input-placeholder {
    font-size: 18px;
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    padding-left: 10px;
  }
  .search__tagsLists .search__tagsLists__frame__input::-ms-input-placeholder {
    font-size: 18px;
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    padding-left: 10px;
  }
  .search__tagsLists .search__tagsLists__frame__input::placeholder {
    font-size: 18px;
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    padding-left: 10px;
  }
  .search__tagsLists .search__tagsLists__frame__input:focus {
    outline: none;
  }
  .search__tagsLists .search__tagsLists__frame__input:focus::-webkit-input-placeholder {
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
  }
  .search__tagsLists .search__tagsLists__frame__input:focus:-ms-input-placeholder {
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
  }
  .search__tagsLists .search__tagsLists__frame__input:focus::-ms-input-placeholder {
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
  }
  .search__tagsLists .search__tagsLists__frame__input:focus::placeholder {
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
  }
  .search__tagsLists #appliancesContainer {
    position: relative;
  }
  .search__tagsLists #appliancesContainer .appliance--btn--more {
    background: url("../assets/img/more.png") no-repeat right;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 37px;
    right: 0;
    cursor: pointer;
  }
  .search__tagsLists #appliancesContainer .appliance--btn--less {
    display: none;
    background: url("../assets/img/less.png") no-repeat right;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 37px;
    right: 0;
    cursor: pointer;
  }
  .search__tagsLists__block {
    border-radius: 0 0 5px 5px;
    width: 40px;
  }
  .search__tagsLists__filtersLists {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    overflow-wrap: break-word;
    width: 667px;
    max-height: 397px;
    overflow: auto;
    color: white;
    margin: auto;
    row-gap: 3px;
    border-radius: 0 0 5px 5px;
    margin-top: -4px;
  }
  .search__tagsLists #searchappliance {
    background-color: #68d9a4;
  }
  .search__tagsLists #appliancesFilters {
    background-color: #68d9a4;
    border-radius: 0 0 5px 5px;
    display: none;
    padding-left: 20px;
  }
  .search__tagsLists #appliancesFilters .appliance {
    font-size: 18px;
    text-align: left;
    cursor: pointer;
  }
  .search__tagsLists #appliancesFilters .appliance:hover {
    background-color: white;
    color: #68d9a4;
  }
  .search__tagsLists #ustensil--btn {
    height: 69px;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    width: 170px;
    border: none;
    font-weight: bold;
    background-color: #ed6454;
    font-size: 18px;
    text-align: left;
    cursor: pointer;
    margin-top: 20px;
  }
  .search__tagsLists .search__tagsLists__frame__input {
    display: none;
    height: 69px;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    width: 170px;
    border: none;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 20px;
    font-size: 18px;
  }
  .search__tagsLists .search__tagsLists__frame__input::-webkit-input-placeholder {
    font-size: 18px;
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    padding-left: 10px;
  }
  .search__tagsLists .search__tagsLists__frame__input:-ms-input-placeholder {
    font-size: 18px;
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    padding-left: 10px;
  }
  .search__tagsLists .search__tagsLists__frame__input::-ms-input-placeholder {
    font-size: 18px;
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    padding-left: 10px;
  }
  .search__tagsLists .search__tagsLists__frame__input::placeholder {
    font-size: 18px;
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    padding-left: 10px;
  }
  .search__tagsLists .search__tagsLists__frame__input:focus {
    outline: none;
  }
  .search__tagsLists .search__tagsLists__frame__input:focus::-webkit-input-placeholder {
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
  }
  .search__tagsLists .search__tagsLists__frame__input:focus:-ms-input-placeholder {
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
  }
  .search__tagsLists .search__tagsLists__frame__input:focus::-ms-input-placeholder {
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
  }
  .search__tagsLists .search__tagsLists__frame__input:focus::placeholder {
    position: relative;
    left: -11px;
    top: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
  }
  .search__tagsLists #ustensilsContainer {
    position: relative;
  }
  .search__tagsLists #ustensilsContainer .ustensil--btn--more {
    background: url("../assets/img/more.png") no-repeat right;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 37px;
    right: 0;
    cursor: pointer;
  }
  .search__tagsLists #ustensilsContainer .ustensil--btn--less {
    display: none;
    background: url("../assets/img/less.png") no-repeat right;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 37px;
    right: 0;
    cursor: pointer;
  }
  .search__tagsLists__block {
    border-radius: 0 0 5px 5px;
    width: 40px;
  }
  .search__tagsLists__filtersLists {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    overflow-wrap: break-word;
    width: 667px;
    max-height: 397px;
    overflow: auto;
    color: white;
    margin: auto;
    row-gap: 3px;
    border-radius: 0 0 5px 5px;
    margin-top: -4px;
  }
  .search__tagsLists #searchustensil {
    background-color: #ed6454;
  }
  .search__tagsLists #ustensilsFilters {
    background-color: #ed6454;
    border-radius: 0 0 5px 5px;
    display: none;
    padding-left: 20px;
  }
  .search__tagsLists #ustensilsFilters .ustensil {
    font-size: 18px;
    text-align: left;
    cursor: pointer;
  }
  .search__tagsLists #ustensilsFilters .ustensil:hover {
    background-color: white;
    color: #ed6454;
  }
  #selections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    margin-top: 20px;
  }
  #selections #ingredient__selections,
  #selections #appliance__selections,
  #selections #ustensil__selections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #selections .tag-ingredient {
    background-color: #3282f7;
    padding: 10px 40px 10px 15px;
    border-radius: 5px;
    color: white;
    position: relative;
    margin-right: 10px;
  }
  #selections .tag-ingredient::after {
    content: "";
    background-image: url("../assets/img/highlight.png");
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 9px;
    right: 0;
    margin: 0 10px;
    cursor: pointer;
  }
  #selections .tag-appliance {
    background-color: #68d9a4;
    padding: 10px 40px 10px 15px;
    border-radius: 5px;
    color: white;
    position: relative;
    margin-right: 10px;
  }
  #selections .tag-appliance::after {
    content: "";
    background-image: url("../assets/img/highlight.png");
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 9px;
    right: 0;
    margin: 0 10px;
    cursor: pointer;
  }
  #selections .tag-ustensil {
    background-color: #ed6454;
    padding: 10px 40px 10px 15px;
    border-radius: 5px;
    color: white;
    position: relative;
    margin-right: 10px;
  }
  #selections .tag-ustensil::after {
    content: "";
    background-image: url("../assets/img/highlight.png");
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 9px;
    right: 0;
    margin: 0 10px;
    cursor: pointer;
  }
}
/*# sourceMappingURL=styles.css.map */